Detection/data/**
Detection/**/.DS_Store
Detection/.idea/
Detection/**/.ipynb_checkpoints/
Detection/**/__pycache__/
Clasification/data/**
Clasification/**/.DS_Store
Clasification/.idea/
Clasification/**/.ipynb_checkpoints/
Clasification/**/__pycache__/

Classification/**/.ipynb_checkpoints/
Classification/**/__pycache__/
Classification/.idea/
Classification/weights
**/TF_test.ipynb
**/.DS_Store
.idea/